#div1{
    height: 250px;
    width: 400px;
    background-image: url(/css/ichigo-kurosaki-bankai-desktop-wallpaper.jpg);
    position: fixed;
    color: aquamarine;
    left: 49%;
    background-size: cover;
    text-align: center;
    
}
h1{
    text-align: center;
}
#outer{
    margin: auto;
    border: 2px rgb(145, 71, 107) solid;
    height:180px;
    width: 900px;
    /* padding-left: 20% ;
    padding-right: 20%; */
    display: flex;
    flex-direction: row-reverse;
    /* align-content: flex-end;  */
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */

    #inner1{
    
        width: 100px;
        height: 65px;
        text-align: center;
        flex-shrink: 500;
        background-color: #01FEFF;
        display: inline-block;
        align-self: flex-start;
    }
    #inner2{

        text-align: center;
        width: 100px;
        height: 55px;
        flex-grow: 2;
        background-color: #FEB9C4;
        display: inline-block;
    }
    #inner3{
        
        width: 100px;
        text-align: center;
        height: 65px;
        flex-grow: 4;
        background-color: #B5AE60;
        display: inline-block;
    }
    #inner4{
        
        width: 100px;
        height: 45px;
        text-align: center;
        
        background-color: #C75352;
        display: inline-block;
    }
    #inner5{
        width: 100px;
        height: 65px;
        flex-shrink:1000;
    
        background-color:#5E51C6;
        text-align: center;
        display: inline-block;
    }
}
#navbar{
    display: flex;
    flex-direction: row;
align-items: flex-end;    
justify-content:
 left;
 div{
    text-align: center;
 }
/* margin: 20px; */
}

#navbar{
    
    
    background-color: #C75352; 
    div{
        height: 200px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 600px;
        background-color: #B5AE60;
    
    }
    a{
    margin-right: 20px;
     justify-content: space-evenly; 
     background-color: palegreen;
    color: #B5AE60;
    text-decoration: none; 
}}
